.card {
    float: left;
    width: 20%;
    height: 100%;
    font: 10%;
    margin-left: 10px;
}

.cards {
    width:100%;
    height: 100%;
}

.card2 {
    height: 330px;
    float: left;
    width: 33%;
    overflow: scroll;
    border: 3px #fff solid;
    transition: all 0.3s linear;
    cursor: pointer;
    position: relative;
    background-color: #fff;
    &:hover {
        background-color: #f3f3f3;
        border-color:#0077d7;
        .index {
            background-color: #0077d7;
        }
    }
    padding: 10px;
    img {
        max-width: calc(100%);
        margin: 0 auto;
        display: block;
    }
    .index {
        background-color: rgba(0,0,0,0.2);
        color: #fff;
        line-height: 20px;
        font-size: 14px;
        position: absolute;
        top: 0;
        right: 0;
        display: block;
        padding: 0 10px;
    }
    .price {
        color: #0077d7;
    }
    .details {
        position: relative;
    }
   
    &.is-active {
        border-color: #0077d7;
        .index {
            background-color: #0077d7;
        }
    }
}