// Overwrite Bulma variables
@import 'variables';

// Import Bulma, a CSS framework
@import '../../../node_modules/bulma/bulma';

// Styles for Travoom components
@import 'NavBar';
@import 'SearchBox';
@import 'Swipe';
@import 'Card';

.sub {
    width: 100%;
    margin-top: 10px;
    margin-bottom: 10px;
}

.journal {
    width:100%;
    margin-left: 40px;
    margin-right: 40px;
}

.journal-content{
    height: 400px;
}

.recommend {
    width: 100%;
    height: 1000px;
    margin-left: 40px;
    margin-right: 40px;
}

.recommend-content {
    width: 50%;
    height: 100%;
}

.mapContainer {
    float: left;
    width: 50%;
    height: 100%;
    z-index: 2;
}

#map {
    height:1000px;
    background-color: rgba(173, 216, 230, 0.4); //remove
}

.listings {
    width: 40%;
    height:1000px;
    overflow: scroll;
    margin-left: 50%;
    position: relative;
    z-index: 3;
}