body {
  font: 14px "Century Gothic", Futura, sans-serif;
  margin: 20px;
}

.square {
  background: #fff;
  border: 1px solid #999;
  float: left;
  font-size: 18px;
  font-weight: bold;
  line-height: 25px;
  height: 25px;
  margin-right: -1px;
  margin-top: -1px;
  padding: 0;
  text-align: center;
  width: 25px;
}

.square:focus {
  outline: none;
}

.square:focus, .square:hover {
  background: #ddd;
}

.board {
  display: flex;
  flex-direction: row;
}

button { 
  overflow: visible;
}

.btn {
  margin-top: 10px;
  display: block;
  outline: 0;
}

.btn:hover {
  cursor: pointer;
  border: solid black 2px;
}

.btn:focus {
  cursor: pointer;
  border: solid black 2px;
}

.hint {
  padding-top: 20px;
}

.board-container,
.info-container {
  float: left;
}

.board-container {
  max-width: 500px;
  width: 100%;
}

.info-container {
  margin-left: 20px;
  padding-top: 20px;
  width: 300px;
}

.board_row {
  display: -webkit-box;
  display: flex;
}

@media (max-width: 768px) {
  .square {
    float: left;
    font-size: 15px;
    line-height: 19px;
    height: 19px;
    width: 19px;
  }

  .info-container {
    margin-left: -100%;
    margin-top: 360px;
  }

}